<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
						  http://www.springframework.org/schema/beans 
					  	  classpath:/org/springframework/beans/factory/xml/spring-beans-3.0.xsd 
						  http://www.springframework.org/schema/context 
						  classpath:/org/springframework/context/config/spring-context-3.0.xsd
						  http://www.springframework.org/schema/aop 
						  classpath:/org/springframework/aop/config/spring-aop-3.0.xsd
                          http://www.springframework.org/schema/mvc
                          http://www.springframework.org/schema/mvc/spring-mvc.xsd
                          http://www.springframework.org/schema/tx
                          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                          ">

    <!-- 开启springmvc注解 <mvc:annotation-driven />
-->
	

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

	<mvc:resources mapping="/*.do" location="/"/>

    <!-- 自动扫描包，实现支持注解的IOC -->
    <context:component-scan base-package="cn.com.project" />
        <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
        	<property name="order" value="44" />
        	<property name="contentType" value="text/html"/>
            <property name="prefix" value=""/> 
            <property name="suffix" value=".jsp"/> 
        </bean> 
    

    <!-- Spring MVC不处理静态资源 -->
    <mvc:default-servlet-handler />

    <!-- 支持mvc注解驱动 -->
    <mvc:annotation-driven enable-matrix-variables="true" />

    <!-- 内部视图解析器，JSP与JSTL模板 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="internalResourceViewResolver">
        <!--指定视图渲染类 -->
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <!--自动添加到路径中的前缀 -->
        <property name="prefix" value="" />
        <!--自动添加到路径中的后缀 -->
        <property name="suffix" value=".jsp" />
        <!--设置所有视图的内容类型，如果视图本身设置内容类型视图类可以忽略 -->
        <property name="contentType" value="text/html;charset=UTF-8" />
        <!-- 优先级，越小越前 -->
        <property name="order" value="2" />
    </bean>

    <!--文件上传解析器 -->
    <!--Spring MVC默认不能识别multipart格式的文件内容 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver" />

</beans>