<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 类的全限定名 -->
<mapper namespace="cn.com.project.mapper.AccountMapper">

    <insert id="insertAccount" keyProperty="accountId" useGeneratedKeys="true" parameterType="cn.com.project.model.Account">
      INSERT INTO account(password,userid) values(#{password},#{userId})
    </insert>
    <!-- 自定义返回结果集 -->
    <resultMap id="accountMap" type="cn.com.project.model.Account">
        <id property="accountId" column="account" javaType="java.lang.Integer" />
        <result property="loginPasswd" column="login_passwd" javaType="java.lang.String" />
        <result property="loginName" column="login_name" javaType="java.lang.String" />
    </resultMap>

    <select id="selectAccountByName" parameterType="java.lang.String" resultMap="accountMap">
        SELECT * FROM account WHERE login_name = #{LoginName};
    </select>

</mapper>